.content {
	background-color: black;
	width: 600px;
	margin: 0 auto;
	color: blue;
}

#map{
	width: 600px;
	height: 300px;
}

.list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.hyper {
	text-decoration: none;
	background-color: pink;
}

.p1 {
	color: white;
	background-color: blue;
}

.list li {
	display: inline;
}

h3{
	font-family: sans-serif;
	color: red;
}